body {
	background-color: #00dbeb;
	background-image: url("https://user-images.githubusercontent.com/31483647/55678086-f68ed900-58c1-11e9-81d8-2ae7d3eb07a7.png");
	margin-bottom: 
}

h1 {
  
}

p {
	width: 90%;
}

hr {
	height: 2px;
	border: none;
	background-color: #D3D3D3;
}

#page {
	background-color: white; 
	width: 85%;
	margin-top: 2.25%;
	margin-bottom: 2.5%;
	box-shadow: 1px 4px 8px rgba(0, 0, 0, .75);
  	border: 1px solid #294569;
  	border-style: inset;
}

#boxshadow {
  	box-shadow: 1px 4px 8px rgba(0, 0, 0, .75);
  	border: 1px solid #294569;
  	border-style: inset;
}

.nav {
    list-style:none;
    padding:0;
    text-align:center;
	background-color: white;
  	color: black;
  	text-decoration-color: black;
	width: 90%;
}
.nav li {
    display:inline;
}
.nav a {
    display:inline-block;
    padding: 10px;
    font-size: 20px;
  	color: #33cccc;
  	text-decoration: none;

}

.nav a:hover {
  	background-color: #d2dce9;
  	color: black;
}

.active {
  background-color: gray;
  color: red;
}

.hero-image {
 	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://user-images.githubusercontent.com/31483647/55677909-d9a4d680-58be-11e9-92c2-7b8c008fabb6.jpg");
  	height: 273px;
  	width: 90%;
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	margin-top: 2.25%;
 	margin-bottom: 2.25%;
}

.hero-text {
  top: 50%;
  color: white;
}

